@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}


/* --------------------------  CONTAINER   -------------------------------- */
#container {
	width: 100%;
    display: flex;
    justify-content: space-around;
}

#aside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30%;
    padding: 0.625em;
    border: inset;
}

#aside img {
	width: 250px;
	margin-bottom: 25px;
}

.addWatchlist {
	color: black;
    border: 2px solid;
    margin-bottom: 25px;
    width: 200px;
    text-align: center;
    height: 32px;
    padding-top: 8px;
    cursor: pointer;
}

.inWatchlist {
	color: black;
    border: 2px solid;
    margin-bottom: 25px;
    width: 200px;
    text-align: center;
    height: 32px;
    padding-top: 8px;
    cursor: pointer;
}


/* #aside > div { */
/* 	width: 100%; */
/* 	margin-top: 1.25em; 		20px/16px = 1.25em */
/* 	margin-bottom: 1.25em;		20px/16px = 1.25em */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: space-around; */
/* 	align-items: center; */
/* } */

/* #aside > div > p { */
/* 	width: 90%; */
/* 	font-size: small; */
/* 	color: #191717; */
/* } */



#content {
	display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 65%;
    padding: 0.625em;
    border: inset;
}

#testo {
	padding-right: 30px;
}

#pulsantiAzione {
	position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 110px;
    left: 845px;
    top: -67px;
    cursor: pointer;
}



#spazioFormRecensione {
	display: none;
	flex-direction: column;
	width: 700px;
    height: 300px;
    margin-left: 25%;
    margin-top: -21%;
	background-color: white;
    border: 2px solid;
	position: absolute;
}

#spazioFormRecensione form{
    padding-left: 15px;
    padding-top: 15px;
}

#submit {
	margin-left: 35%;
    background-color: white;
    border: 2px solid;
    height: 30px;
    width: 180px;
    cursor: pointer;
    margin-top: 25px;
}


#footer {
    width: 79%;
    padding-left: 10%;
    padding-right: 10%;
	border: inset;
}


