@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* --------------------------  CONTAINER   -------------------------------- */
#container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: inset;
}

#container ul {
	list-style: none;
}

.elemento {
	display: flex;
	justify-content: space-between;
	width: 1200px;
    height: 250px;
    background-color: white;
	border: 1px solid black;
	margin-bottom: 10px;
}

.elemento .corpo {
	width: 850px;
	overflow-y: auto;
}

.corpo p {
	text-align: left;
	padding: 20px;
}

.elemento .voti {
	padding-top: 2%;
}

.elemento .bottoni {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.elemento button {
    background-color: white;
    border-color: black;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

/* --------------------------  RIMUOVI RECENSIONE  ------------------------- */

#popUpRimuoviRecensione {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border-radius: 7px;
    border: solid #f5a015;
	position: absolute;
    margin-top: -25%;
    margin-left: 45%;
    z-index: 150;
}

#popUpRimuoviRecensione p {
	text-align: center;
	padding-top: 40px;
}

/* --------------------------  IGNORA SEGNALAZIONE  ------------------------- */

#popUpIgnoraSegnalazione {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border-radius: 7px;
    border: solid #f5a015;
	position: absolute;
    margin-top: -25%;
    margin-left: 45%;
    z-index: 150;
}

#popUpIgnoraSegnalazione p {
	text-align: center;
	padding-top: 40px;
}