@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}


/* --------------------------  CONTAINER   -------------------------------- */
#container {
    width: 100%;
    height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container form {
	display: flex;
	flex-direction: column;
	border: 2px solid #f5a015;
	padding: 25px;
	background-color: white;
	width: 260px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container form label{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

#submit {
    margin: 15px auto 0px;
    cursor: pointer;
    outline: none;
    border: solid #f5a015;
    padding: 10px;
    background-color: white;
    width: 80px;
}

/* --------------------------  ERRORE  -------------------------------- */

#popUPErrore {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 200px;
	background-color: white;
    border-radius: 7px;
	border: solid #f5a015;
	position: absolute;
}

#popUPErrore p {
	text-align: center;
	padding-top: 40px;
}

#ok {
	width: 50%;
    margin-left: 100px;
    margin-top: 20px;
    cursor: pointer;
}
