@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* --------------------------  NAVBAR -------------------------------- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: inset;
	border-bottom: inset;
	width: 100%;
	height: 60px;
	z-index: 1;
    background-color: #333333;
}

#spazioLogo {
	margin-left: 20px;
}

nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    height: 60px;
    overflow: hidden;
 	float: right;
}

nav li {
    float: right;
    padding-top: 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}


/* --------------------------  CONTAINER   -------------------------------- */
#container {
    width: 100%;
    height: 60vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container form {
	border: 2px solid black;
	padding: 25px;
}
