@CHARSET "ISO-8859-1";

body {
	background-color: #f1f1f1;
}

button {
	border-radius: 7px;
	border: solid #f5a015;
	color: #f5a015;
}

/* --------------------------  NAVBAR -------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1;
    border-bottom: solid #999;
    background: linear-gradient(to right, #ffba01, #f5a015);
    box-shadow: 0px 1px 9px 2px #999;
}

#spazioLogo {
	margin-left: 40px;
	cursor: pointer;
}

nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    height: 60px;
    overflow: hidden;
 	float: right;
}

nav li {
    float: right;
    padding-top: 10px;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    background-color: #111111;
    color: white;
}

/* --------------------------  CONFERMA  -------------------------------- */

#popUPConferma {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border-radius: 7px;
	border: solid #f5a015;
	position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    z-index: 150;
}

#close {
    position: absolute;
    top: 2px;
    right: 2px;
    background: transparent;
    width: 25px;
    cursor: pointer;
}

#popUPConferma p {
	text-align: center;
	padding-top: 40px;
}

#ok {
	width: 50%;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    padding: 10px;
    background-color: white;
    color: #f5a015;
}