@CHARSET "ISO-8859-1";

/* --------------------------  NAVBAR -------------------------------- */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: inset;
	border-bottom: inset;
	width: 100%;
	height: 60px;
	z-index: 1;
    background-color: #333333;
}

#spazioLogo {
	margin-left: 40px;
	cursor: pointer;
}

nav ul {
	list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    height: 60px;
    overflow: hidden;
 	float: right;
}

nav li {
    float: right;
    padding-top: 10px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    background-color: #111111;
}

/* --------------------------  CONFERMA  -------------------------------- */

#popUPConferma {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border: 2px solid;
	position: absolute;
    margin-top: 15%;
    margin-left: 45%;
}

#close {
	position: absolute;
    border: 2px solid;
    right: 0;
    background: transparent;
    width: 25px;
    cursor: pointer;
}

#popUPConferma p {
	text-align: center;
	padding-top: 40px;
}

#ok {
	width: 50%;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}