@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* --------------------------  CONTAINER   -------------------------------- */
#container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: inset;
}

#container ul {
	list-style: none;
}

.elemento {
	display: flex;
	justify-content: space-between;
	width: 1200px;
    height: 600px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.elemento .corpo {
	width: 850px;
	overflow-y: auto;
	border-right: 1px solid;
}

.corpo p {
	text-align: left;
	padding: 20px;
}

.elemento .voti {
	padding-top: 2%;
}

#pulsantiAzione {
    position: relative;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 150px;
    font-size: 25px;
    top: 193px;
    left: -14%;
    cursor: pointer;
}

.elemento button {
    background-color: white;
    border-color: black;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

/* --------------------------  CONFERMA SEGNALAZIONE  ------------------------- */

#popUPConfermaSegnalazione {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border: 2px solid;
	position: absolute;
    margin-top: -30%;
    margin-left: 45%;
    z-index: 150;
}

#popUPConfermaSegnalazione p {
	text-align: center;
	padding-top: 40px;
}