@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}


/* --------------------------  CONTAINER   -------------------------------- */
#container {
	width: 100%;
    display: flex;
    justify-content: space-around;
}

#aside {
	border: inset;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30%;
    padding: 0.625em;
}

#aside a{
	border: inset black;
	padding: 10px;
	margin: 15px;
	text-decoration: none;
	color: black;
}

#content {
	border: inset;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 67%;
}

.boxRecensione {
    background-color: #7daaf2;
    width: 95%;
    margin-left: -40px;
    height: 255px;
    max-width: 875px;
    max-height: 255px;
    margin-bottom: -70px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.boxRecensione h3 {
	margin-left: 15px;
}

#testo {
	padding-right: 40px;
	padding-left: 15px;
}

#pulsantiAzione {
    position: relative;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 110px;
    top: -75px;
    left: 428px;
    cursor: pointer;
}

.removeButton{
	background: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 25px;
}

/* ----------------------  CONFERMA RIMOZIONE  ---------------------------- */

#popUPConfermaRimozione {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border: 2px solid;
	position: absolute;
    margin-top: 15%;
    margin-left: 45%;
    z-index: 150;
}

#popUPConfermaRimozione p {
	text-align: center;
	padding-top: 40px;
}

#ok {
	width: 50%;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
}
