@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* --------------------------  BODY ------------------------------ */

body {
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* --------------------------  CONTAINER   -------------------------------- */
#container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#container ul {
	list-style: none;
}

.elemento {
	display: flex;
	justify-content: space-between;
	width: 850px;
    height: 250px;
	border: 1px solid black;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elemento h4 {
	margin-top: 105px;
}

.elemento button {
	background-color: white;
    height: 40px;
    padding: 10px;
    margin-top: 100px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

/* --------------------------  RIMUOVI WATCHLIST  ------------------------- */

#popUpRimuoviWatchlist {
	display: none;
	flex-direction: column;
	width: 200px;
	height: 200px;
	background-color: white;
    border-radius: 7px;
    border: solid #f5a015;
	position: absolute;
    margin-top: -25%;
    margin-left: 45%;
    z-index: 150;
}

#popUpRimuoviWatchlist p {
	text-align: center;
	padding-top: 40px;
}